bin
bin/Debug/net6.0/Grill.dll
bin/Debug/net6.0/Grill.pdb
obj/Debug/net6.0/Grill.assets.cache
obj/Debug/net6.0/Grill.dll
obj/Debug/net6.0/Grill.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Grill.pdb
obj/Debug/net6.0/ref/Grill.dll
obj/Debug/net6.0/refint/Grill.dll
